@{
    ViewBag.Title = "PassUsingViewBag - Backend1";
}

<h1>@ViewBag.Title</h1>

<b>@ViewBag.Line1</b><br />
<b>@ViewBag.Line2</b><br />
<b>@ViewBag.Line3</b>
<br />
<br />
<b>@ViewBag.Line4</b>
<br />
<br />
<b>@ViewBag.Line5</b>
<br />
<br />
<b>@ViewBag.Line6</b>
<br />
<br />
<b>@ViewBag.Line7</b>
<br />
<br />
<b>@ViewBag.Line8</b>
<br />
<br />
<b>@ViewBag.Line9</b>
<br />
<br />
<b>@ViewBag.Line10</b>
<br />
<br />